:root {
  --primary-color: #f380c3;
  --secondary-color: #fee1e8;
  --bg-color: #fee1e864;
  --grey: #a6a6a6;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
  background-color: var(--bg-color);
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  color: var(--primary-color);
  margin: 1.6rem 0;
}

p {
  font-weight: 400;
  margin: 1.6rem 0;
  font-size: 1.6rem;
  color: var(--primary-color);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 2.5rem;
  letter-spacing: 1.5px;
}

h4 {
  font-size: 1.6rem;
}

span {
  color: var(--grey);
  font-size: 1.5rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  margin: 1.6rem 0;
  color: var(--grey);
  font-size: 1.6rem;
  border-bottom: 2px dotted var(--primary-color);
  cursor: pointer;
}

.site-container {
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

hr {
  margin: 16px 0;
}

/*navigation*/
nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > .menu > a {
  border-bottom: none;
  color: var(--primary-color);
  font-weight: 700;
  margin-left: 24px;
}

.mobile-menu {
  display: none;
}

/*Blog*/
main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 50px;
  grid-gap: 60px;
}


.blogs > .blogs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.blogs > .blogs-container > .blog {
  background-color: var(--secondary-color);
  margin: 24px 0;
  padding: 16px;
  border-radius: 10px;
}
.blogs > .blogs-container > .empty {
  display: flex;
  width:100%;
  padding: 0;
  height:450px;
  margin:0 auto 24px auto;
}
.blogs > .blogs-container > .empty > p {
  margin: auto;
  font-size: 2rem;
}
.blogs > .blogs-container > .blog > .thumbnail {
  object-fit: contain;
}

.blogs > .blogs-container > .blog > .content {
  margin-top: 16px;
}
.blogs > .blogs-container > .blog > .content > h3 {
  font-size:1.8rem;
  font-family: "Poppins";
}

.blogs > .blogs-container > .blog > .content > .mini-info > span:nth-child(1) {
  margin-right: 10px;
}
.blogs > .blogs-container > .blog > .content > p {
  color: var(--grey);
}

.blogs > .blogs-container > .blog > .content > a {
  width: fit-content;
  display: block;
  margin-top: 20px;
}

/**browse categories*/
.categories a {
  display: inline-block;
  border: none;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  width: fit-content;
  padding: 10px;
  border-radius: 50px;
  font-size: 1.5rem;
  margin: 5px 5px 5px 0;
}

.categories a:hover {
  color: white;
  background-color: var(--primary-color);
}

.pagination {
  display: inline-block;
}
.pagination .active {
  background-color: var(--secondary-color);
}

.pagination a {
  color: var(--primary-color);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 0;
}

/*Footer*/
footer {
  background-color: #fee1e8;
  margin-top: 100px;
  padding: 100px 0;
}
footer h3 {
  color: var(--primary-color);
}
footer,
p,
span,
a {
  color: var(--primary-color);
  line-height: 22px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}
.footer-top > .left {
  width: 45%;
}
.footer-top > .right {
  width: 35%;
}
.footer-top > .right > ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-top > .right > ul > li {
  display: block;
  margin: 5px 15px 0 0;
}

.footer-top > .right > ul > li > a {
  border-bottom: none;
}

footer hr {
  margin: 60px 0;
  background-color: var(--primary-color);
}

.footer-bottom {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-menu ul {
  padding: 0;
}
.footer-menu li {
  list-style-type: none;
  display: inline-block;
  margin-right: 16px;
}
.footer-menu li a {
  border: none;
}

.social-icons {
  display: flex;
}
.social-icons i {
  display: block;
  margin: auto 5px;
  color: var(--primary-color);
  font-size: 16px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  padding: 8px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size:3rem;
  }

  .mobile-menu {
    display: block;
    font-size: 24px;
    color: var(--primary-color);
  }

  .menu {
    position: absolute;
    background-color: white;
    width: 100%;
    top: 100%;
    z-index: 99;
    display: none;
    box-shadow: 1px 1px var(--bg-color);
  }

  .menu > a {
    padding: 0;
    font-size: 18px;
    display: block;
  }

  .show {
    display: block;
  }

  /*blogs*/
  main {
    grid-template-columns: 1fr;
  }
  .blogs > .blogs-container {
    grid-template-columns: 1fr;
  }

  .blogs > .blogs-container > .empty > p {
    font-size: 1.4rem;
  }
  /*Footer*/
  .footer-top {
    grid-template-columns: 1fr;
    justify-items: start;
  }

  .footer-top > .left {
    width: 100%;
  }
  .footer-top > .right {
    width: 100%;
  }

  .footer-bottom {
    justify-content: center;
  }

  .social-icons {
    margin-top: 24px;
  }
}
