<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link
      rel="shortcut icon"
      href="/public/web/assets\favicon_io\favicon-16x16.png"
    />
    <link
      rel="apple-touch-icon"
      href="/public/web/assets\favicon_io\apple-touch-icon.png"
    />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/web/assets/css/contactUs.css" />
    <link rel="stylesheet" href="/public/web/assets/css/header.css" />
    <link rel="stylesheet" href="/public/web/assets/css/new.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <%- include("../../partials/web/header") %>

    <div class="rowC">
      <div class="columnC">
        <div class="headContact">
          <h5 class="headContactH1">Feel Free to</h5>
          <h3 class="headContactH2">Contact Us</h3>
        </div>
        <!--Main Details Start-->
        <div class="detailsContact">
          <div class="address">
            <h1>India Office</h1>
            <p>
              <i class="fas fa-map-marker-alt"></i>
              <span>
                633-A, Udyog Vihar Phase-V, Gurugram, Haryana - 122015
              </span>
              <!--
                        <a href="https://www.google.com/maps/place/Mindshaper+Technologies+Pvt+Ltd/@28.5011312,77.0814883,17z/data=!4m12!1m6!3m5!1s0x390d033b40000001:0xd7e60ec82063eade!2sMindshaper+Technologies+Pvt+Ltd!8m2!3d28.5011312!4d77.083677!3m4!1s0x390d033b40000001:0xd7e60ec82063eade!8m2!3d28.5011312!4d77.083677"><img src="/public/web/assets/icon/map-point.png"/></a>
                   -->
            </p>
            <span>
              <a href="tel:0124-6408005" style="color: #475677">
                <i class="fas fa-phone-alt"></i> Ph:- 0124 - 6408005</a
              >
            </span>
            <span>
              <a href="tel:18004191014" style="color: #475677">
                <i class="fas fa-phone-alt"></i> Ph:- 18004191014</a
              >
            </span>
            <span>
              <a href="mailto:info@2xcell.in" style="color: #475677">
                <i class="fas fa-envelope"></i> info@2xcell.in</a
              >
            </span>
          </div>
          <div class="address">
            <h1>Canada Office</h1>
            <p>
              <i class="fas fa-map-marker-alt"></i>
              <span> 325 Front St W Suite 300 Toronto, Ontario M5V 2Y1 </span>
              <!--
                          <a href="https://www.google.com/maps/place/325+Front+St+W+Suite+300,+Toronto,+ON+M5V+2Y1,+Canada/@43.6431507,-79.3924742,17z/data=!4m5!3m4!1s0x882b34d77342081d:0x63ba22b845eae9d8!8m2!3d43.6431507!4d-79.3902855"><img src="/public/web/assets/icon/map-point.png"/></a>
                    -->
            </p>
            <span>
              <a href="tel:0124-6408005" style="color: #475677">
                <i class="fas fa-phone-alt"></i> Ph:- 0124 - 6408005</a
              >
            </span>
            <span>
              <a href="tel:18004191014" style="color: #475677">
                <i class="fas fa-phone-alt"></i> Ph:- 18004191014</a
              >
            </span>
            <span>
              <a href="mailto:info@2xcell.in" style="color: #475677">
                <i class="fas fa-envelope"></i> info@2xcell.in</a
              >
            </span>
          </div>
          <!--
                <h1 class="singleElement">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>
                        633-A, Udyog Vihar Phase-V, Gurugram, Haryana - 122015
                    </span>
                </h1>
                <h1 class="singleElement">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>
                        325 Front St W Suite 300 Toronto, Ontario M5V 2Y1
                    </span>
                </h1>
                <h1 class="singleElement">
                    <a href="tel:0124-6408005" style="color:#475677 ;"> <i class="fas fa-phone-alt"></i>
                        0124-6408005</a>
                </h1>
                <h1 class="singleElement">
                    <i class="fas fa-phone-volume"></i>18004191014
                </h1>
                <h1 class="singleElement">
                    <a href="mailto:info@2xcell.in" style="color:#475677 ;"> <i class="fas fa-envelope"></i>
                        info@2xcell.in</a>
                </h1>
                -->
        </div>
        <!--Main Details END-->
      </div>
      <div class="columnC colorBack">
        <!--
            <img src="/public/web/assets/images/new-contact.png" class="imgContact" alt="">
            -->
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.259909674338!2d-79.39163197092708!3d43.64276053953831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34d77342081d%3A0x63ba22b845eae9d8!2s325%20Front%20St%20W%20Suite%20300%2C%20Toronto%2C%20ON%20M5V%202Y1%2C%20Canada!5e0!3m2!1sen!2sin!4v1660205733525!5m2!1sen!2sin"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7012.485790393101!2d77.08195926272224!3d28.502338995621184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d033b40000001%3A0xd7e60ec82063eade!2sMindshaper%20Technologies%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1660205341557!5m2!1sen!2sin"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>

    <%- include("../../partials/web/footer") %>

    <!--Tawk Plugin-->
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/5f086e9f67771f3813c0cc1c/default";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->

    <!-- Back to top button  -->
    <button class="back_to_top" onClick="backToTop()" title="Back to top">
      <img src="/public/web/assets/icon/arrow_up.svg" alt="" />
    </button>

    <script>
      function backToTop() {
        window.scrollTo({
          top: 0,
          left: 0,
          behavior: "smooth",
        });
      }
    </script>

    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
    </script>
    <script>
      let dropdowns = document.querySelectorAll(".navbar .dropdown-toggler");
      let dropdownIsOpen = false;

      if (dropdowns.length) {
        dropdowns.forEach((dropdown) => {
          dropdown.addEventListener("click", (event) => {
            let target = document.querySelector(
              `#${event.target.dataset.dropdown}`,
            );

            if (target) {
              if (target.classList.contains("show")) {
                target.classList.remove("show");
                dropdownIsOpen = false;
              } else {
                target.classList.add("show");
                dropdownIsOpen = true;
              }
            }
          });
        });
      }

      // Handle closing dropdowns if a user clicked the body
      window.addEventListener("mouseup", (event) => {
        if (dropdownIsOpen) {
          dropdowns.forEach((dropdownButton) => {
            let dropdown = document.querySelector(
              `#${dropdownButton.dataset.dropdown}`,
            );
            let targetIsDropdown = dropdown == event.target;

            if (dropdownButton == event.target) {
              return;
            }

            if (!targetIsDropdown && !dropdown.contains(event.target)) {
              dropdown.classList.remove("show");
            }
          });
        }
      });

      // Open links in mobiles
      function handleSmallScreens() {
        document
          .querySelector(".navbar-toggler")
          .addEventListener("click", () => {
            let navbarMenu = document.querySelector(".navbar-menu");

            if (navbarMenu.style.display === "flex") {
              navbarMenu.style.display = "none";
              return;
            }

            navbarMenu.style.display = "flex";
          });
      }

      handleSmallScreens();
    </script>
  </body>
</html>
