<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/public/web/assets\favicon_io\favicon-16x16.png" />
    <link
      rel="apple-touch-icon"
      href="/public/web/assets\favicon_io\apple-touch-icon.png"
    />
    <link rel="stylesheet" href="/public/web/assets/css/demoN.css" />
    <link rel="stylesheet" href="/public/web/assets/css/new.css" />
    <link rel="stylesheet" href="/public/web/assets/css/header.css" />
    <link rel="stylesheet" href="/public/web/assets/css/privacy.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Copyrights Issue</title>
  </head>
  <body>
    <%- include("../../partials/web/header") %>
    <div class="privacy-body">
      <h3>Copyright Policy</h3>

      <p>
        2xcell respects intellectual property rights and expects users to do the
        same.
      </p>

      <h3>Ownership of Content</h3>

      <p>
        All digital curriculum content, lesson plans, assessments, videos, UI
        design, and software elements available on 2xcell are owned by or
        licensed to 2xcell.
      </p>

      <h3>Permitted Use</h3>

      <p>Authorized schools and users may:</p>
      <ul>
        <li>Access content for classroom and educational use</li>
        <li>Display content within the school environment</li>
        <li>Use resources for teaching and learning purposes</li>
      </ul>

      <p>Users may not:</p>
      <ul>
        <li>Reproduce, distribute, or publicly share platform content</li>
        <li>Upload copyrighted materials without permission</li>
        <li>Modify or republish 2xcell materials for commercial use</li>
      </ul>

      <h3>Reporting Copyright Infringement</h3>

      <p>
        If you believe that any content on 2xcell infringes your copyright,
        please contact us with the following details:
      </p>

      <ul>
        <li>Description of the copyrighted work</li>
        <li>Location of the material on our platform</li>
        <li>Your contact information</li>
        <li>A declaration of ownership</li>
      </ul>

      <p>
        Upon verification, appropriate action will be taken, including removal
        of infringing content.
      </p>
    </div>
    <%- include("../../partials/web/footer") %>
  </body>
</html>
