<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>
    <link rel="shortcut icon" href="/public/web/assets\favicon_io\favicon-16x16.png" />
    <link rel="apple-touch-icon" href="/public/web/assets\favicon_io\apple-touch-icon.png" />
    <!-- sheets -->
    <link rel="stylesheet" href="/public/web/assets/css/videoPlayer.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>

<body>
    <div class="videoPlayerMain">
        <div class="rowVideoPlayer">
            <div class="videoList">
                <div class="singleVideoBox">
                    <img src="/public/web/assets/images/demo_content_image.png" alt="">
                    <h4>Addition of 3 Digit Numbers</h4>
                    <div>
                        <p>Class 2</p>
                        <p>Mathematics</p>
                    </div>
                </div>
                <div class="singleVideoBox">
                    <img src="/public/web/assets/images/demo_content_image.png" alt="">
                    <h4>Addition of 3 Digit Numbers</h4>
                    <div>
                        <p>Class 2</p>
                        <p>Mathematics</p>
                    </div>
                </div>
                <div class="singleVideoBox">
                    <img src="/public/web/assets/images/demo_content_image.png" alt="">
                    <h4>Addition of 3 Digit Numbers</h4>
                    <div>
                        <p>Class 2</p>
                        <p>Mathematics</p>
                    </div>
                </div>
            </div>
            <div class="videoScreen">
                <video controls autoplay src="/public/web/assets/video/test.mp4">
                </video>
            </div>
        </div>
    </div>
</body>

</html>