:root {
  --primary-color: #000000;
  --heading-color: #54e3d5;
  --secondary-color: #54e3d530;
  --bg-color: #54e3d510;
  --grey: #a6a6a6;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
  background-color: var(--bg-color);
}
/**browse categories*/
aside {
  width: 50%;
}
.categories a {
  display: inline-block;
  border: none;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  width: fit-content;
  padding: 10px;
  border-radius: 50px;
  font-size: 1em;
  text-decoration: none;
  margin: 5px 5px 5px 0;
}

.categories a:hover {
  color: white;
  background-color: var(--primary-color);

}

.site-container {
  width: 80%;
  margin: 0 auto;
}

.site-container > main {
  display: flex;
}
.blog-content > h2 {
  width: 80%;
}

.blog-content > .blog-details > .profile {
  width: fit-content;
  background-color: var(--secondary-color);
  height: 40px;
  padding: 0 5px;
  border-radius: 20px;
  display: flex;
}

.blog-content > .blog-details > .profile > img {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: auto 0;
}

.blog-content > .blog-details > .profile > span {
  margin: auto 10px;
  font-size: 1.2rem;
}

.blog-content > .blog-details > .mini-info {
  margin: 15px 0 5px 0;
}

.blog-content > .blog-details > .mini-info > span {
  display: block;
  color: var(--grey);
  font-size: 1.3rem;
  margin-right: 15px;
}

.blog-content > .blog-details > .mini-info > span > b {
  color: var(--primary-color);
}



.readable-content p,ul {
  margin: 0;
}
.readable-content h1,h2,h3,h4,h5,h6 {
  margin: 0;
}