a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none !important;
}

.container {
  width: 1170px;
  /* width: 100vw; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar,
.navbar > .container {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  /*.navbar,
  .navbar > .container {
    display: block;
  }*/
}

.navbar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 1rem 1.15rem;
  border-bottom: 1px solid #eceef3;
  /*
  |-----------------------------------
  | Start navbar logo or brand etc..
  |-----------------------------------
  */
  /*
  |-----------------------------------
  | Start navbar menu
  |-----------------------------------
  */
}

@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}

.navbar .navbar-header {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.navbar .navbar-header .navbar-toggler {
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}

@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}

.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #929aad;
  display: block;
}

.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}

.navbar .navbar-header > a {
  font-weight: 500;
  color: #3c4250;
}

.navbar .navbar-menu {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}

.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #eee;
    margin-top: 1rem;
  }
}

.navbar .navbar-menu .navbar-nav > li > a {
  color: #3c4250;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}

.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: #66f;
}

@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #eceef3;
  }
}

.navbar .navbar-menu .navbar-nav > li.active a {
  color: #54e3d5;
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 0.75rem;
  display: none;
}

@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    position: relative;
    box-shadow: none;
  }
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #3c4250;
  padding: 0.25rem 1rem;
  display: block;
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}

.navbar .navbar-menu .navbar-nav .dropdown > .separator {
  height: 1px;
  width: 100%;
  margin-top: 9px;
  margin-bottom: 9px;
  background-color: #eceef3;
}

.navbar .navbar-dropdown {
  position: relative;
}

.navbar .navbar-header > a span {
  color: #66f;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}

/***********************************************************************************/

#login {
  background: linear-gradient(135deg, #23f7e1 0%, #8494ff 100%);
  color: white;
  font-weight: 700;
  border-radius: 10px;
}

#login:hover {
  background: linear-gradient(135deg, #1dcebc 0%, #4b5cce 100%);
}

/* Back To top button CSS  */

.back_to_top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  border: 2px solid #334565;
  background-color: rgb(240, 240, 240);
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

/*******************************modal*********************/

#subscribe {
  cursor: pointer;
}

.newsletter_modal_bg,
.otp_modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: none;
}

.newsletter_modal,
.otp_modal {
  position: fixed;
  top: 30%;
  left: 38%;
  right: 0%;
  border-radius: 7px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(89, 127, 250, 0.603);
  transition: 0.3s;
  z-index: 2;
  display: none;
  text-align: center;
}

.newsletter_modal h3,
.otp_modal h3 {
  color: rgb(0, 192, 182);
}

.newsletter_modal input,
.otp_modal input {
  border: 1px solid rgb(1, 216, 198);
  padding: 1px 3px;
  outline: none;
  border-radius: 7px;
  width: 300px;
  text-align: center;
  color: rgb(0, 190, 204);
  font-weight: bold;
}

.newsletter_modal span,
.otp_modal span {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.newsletter_modal span button,
.otp_modal span button {
  padding: 2px 5px;
  border-radius: 10px;
  min-width: 100px;
  font-size: 1.03em;
  cursor: pointer;
  transition: 0.3s;
}

.newsletter_modal span button:hover {
  transform: scale(1.02);
}

.newsletter_modal span button:first-child,
.otp_modal span button:first-child {
  border: 2px solid #45f7ee;
  background-color: transparent;
  color: #14dad0;
}

.newsletter_modal span button:last-child,
.otp_modal span button:last-child {
  background: linear-gradient(135deg, #00c7ce 0%, #5ae1e6 100%);
  border: none !important;
  color: white;
  padding: 5px 7px;
}

@media screen and (max-width: 472px) {
  .newsletter_modal,
  .otp_modal {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .newsletter_modal input,
  .otp_modal input {
    font-size: 0.9em;
    padding: 2px 3px;
  }
}

/*********************Form****************/

#register input,
#register select {
  outline: none;
  margin: 1px 0px !important;
}
/**********************************popup***************/

.popup {
  background-color: #ffffffa8;
  width: 500px;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  display: none;
  text-align: center;
  position: fixed;
  z-index: 99999;
}
.popup .po {
  display: block;
  margin: 0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #ffffff;
  background: #03549a;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}
.popup h2 {
  margin-top: -20px;
}
.popup p {
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
  line-height: 25px;
}
#m {
  width: 500px;
  height: 550px;
}
.proceed {
  border: none;
  color: black;
  background-color: #51e3d4;
  padding: 6px 15px;
  border-radius: 10px;
}
.proceed:hover {
  color: white;
}
@media only screen and (max-width: 450px) {
  #m {
    width: 300px;
    height: 350px;
  }
  .popup {
    width: 300px;
  }
}
