:root {
  --primary-color: #f380c3;
  --secondary-color: #fee1e8;
  --bg-color: #fee1e864;
  --grey: #a6a6a6;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 1.2% 1.2%;
}

.categories>.category {
  position: relative;
  display: flex;
  width: fit-content;
  padding: 10px;
  margin: 1.2% 1.2% 0 0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.07), 0 5px 15px 0 rgba(0, 0, 0, 0.07);
}

.categories>.category >.gear {
  margin-top:3px;
  cursor: pointer;
}

.categories>.block-category {
  opacity: 0.6;
  transition: all 0.4s;
}

.categories>.block-category>.head>.title {
  text-decoration: line-through;
}

.categories>.category>.head {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.categories>.category>.head>span {
  display: block;
}

.categories>.category>.head>.title {
  margin-right: 15px;
  padding-right: 15px;
  color: var(--primary-color);
}

.categories>.category>.head>.blog-info {
  width: fit-content;
  margin: auto 0;
  font-size:0.8rem;
  color:var(--grey);
}

.tools {
  display: none;
  position: absolute;
  z-index: 10;
  top:40px;
  left:80%;
  list-style: none;
  padding:10px 10px 0 0;
  margin: 0;
  border-radius:5px;
  background-color: #fff;
  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.08);
}
.display-tool {
  display: block;
}
.tools > li {
  display: block;
  z-index:11;
  margin:0 0 10px 10px;
  font-size:0.7rem;
  color: var(--grey);
  white-space: nowrap;
  cursor: pointer;
}

.tools > .delete {
  color: orangered;
}