:root {
  --primary-color: #f380c3;
  --secondary-color: #fee1e8;
  --bg-color: #fee1e864;
  --grey: #a6a6a6;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 1.2% 1.2%;
}

.categories>.category {
  display: flex;
  width: fit-content;
  padding: 10px;
  margin: 1.2% 1.2% 0 0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.07), 0 5px 15px 0 rgba(0, 0, 0, 0.07);
}

.categories>.block-category {
  opacity: 0.6;
}

.categories>.block-category>.head>.title {
  text-decoration: line-through;
}

.categories>.category>.head {
  display: flex;
  margin-right: 15px;
}

.categories>.category>.head>.title {
  margin-right: 15px;
  padding-right: 15px;
  color: var(--primary-color);
}

.categories>.category>.head>.info {
  width: fit-content;
  display: block;
  margin: auto 0;
}

.categories>.category>.tools {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin:auto 0;
}

.categories>.category>.tools>.edit {
  margin-right: 15px;
}
.categories>.category>.tools>.delete {
  margin-right: 15px;
}
.categories>.category>.tools>.eye {
  font-size: 1.1rem;
}

.info {
  position: relative;
  cursor: pointer;
}

.info>.info-tip {
  display: none;
  position: absolute;
  z-index: 1;
  left: 100%;
  border: 50px;
  background-color: #fff;
  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.08);
  border-radius: 0 10px 10px 10px;
  white-space: nowrap;
  width: fit-content;
  padding: 10px;
  font-size: 0.9rem;
  color: var(--grey);
  cursor: pointer;
}

.info:hover>.info-tip {
  display: block;
  transition: 0.4s all;
}