

.up > .upl > .item {
  margin-left: 10px;
  font-size: 1.4rem;
  cursor: pointer;
  color: white;
}

.up > .upl > .power:hover {
  color: orangered;
}
.up > .upr {
  text-transform: capitalize;
}


