<div class="footer">
  <div class="logo">
    <img
      src="/public/web/assets/images/new-logo-bg.png"
      style="width: 150px"
      id="logo"
    />
    <div class="social">
      <a href="https://www.instagram.com/classteacher_learningsystem/">
        <img src="/public/web/assets/icon/social/instagram.png"
      /></a>
      <a href="https://www.facebook.com/ClassteacherLearningSystem/">
        <img src="/public/web/assets/icon/social/facebook.png"
      /></a>
      <a href="https://www.linkedin.com/in/mind-shaper-founder/">
        <img src="/public/web/assets/icon/social/linkedin.png"
      /></a>
      <a href=" https://www.youtube.com/@ClassteacherCTLS">
        <img src="/public/web/assets/icon/social/youtube.png"
      /></a>
    </div>
  </div>

  <div class="links">
    <div class="b1">
      <h3>Community</h3>
      <a href="https://auth.2xcell.in/signup">
        <p>Create Account</p>
      </a>
    </div>
    <div class="b1">
      <h3>Support</h3>
      <p><a href="/terms-and-conditions">Terms Condition</a></p>
      <p><a href="/privacy-policy">Privacy & Policy</a></p>
      <p><a href="/copyrights-issue">Copyrights Issue</a></p>
    </div>
    <div class="b1">
      <h3>Join Us</h3>

      <a href="school">
        <p>Schools</p>
      </a>
      <a href="principal">
        <p>Principal</p>
      </a>
      <a href="students">
        <p>Student</p>
      </a>
      <a href="contact">
        <p>Contact Us</p>
      </a>
    </div>
    <!-- <div class="b1">
                <button id="download">Apple Ios</button>
                <br>
                <button id="download">Google Play</button>
            </div> -->
  </div>
</div>

<button class="back_to_top" onClick="backToTop()" title="Back to top">
  <img src="/public/web/assets/icon/arrow_up.svg" alt="" />
</button>
<div class="copyright">
  <p>Copyright © 2015-2026 2xcell</p>
</div>
